<body>
    <div class="col-md-sm-12" style="background-color:red; text-align:center">
        <h2>
            Team Memory Makers
            <br>
            <img src="images/logo.png">
        </h2>
        <li>
            Yashwanth
        </li>
    <li>
        Vyshnavi
    </li>
    <li>
        Karthik
    </li>
    <li>
        Mallikarjun
    </li>

    </div>
</body>