<body>
<div style="text-align:center">
        <h3><b><u>Team Memory Makers</u></b></h3>
</div>
        <div class="row">
        
                <div class="card" class="about-card" >
                        <img src="images/man2.png" alt="Avatar" style="width:25%">
                        <div class="card-container">
                          <h4><b>Yashwanth</b></h4> 
                          <p>Developer</p> 
                        </div>
                      </div>
                      <div class="card" class="about-card" >
                          <img src="images/man2.png" alt="Avatar" style="width:25%">
                          <div class="card-container">
                            <h4><b>Chaitanya</b></h4> 
                            <p>Developer</p> 
                          </div>
                        </div>
                      <div class="card" class="about-card">
                            <img src="images/woman.png" alt="Avatar" style="width:25%">
                            <div class="card-container">
                              <h4><b>Vyshnavi</b></h4> 
                              <p>Developer</p> 
                            </div>
                          </div>
                          <div class="card" class="about-card">
                                <img src="images/man1.png" alt="Avatar" style="width:25%">
                                <div class="card-container">
                                  <h4><b>Karthik</b></h4> 
                                  <p>Developer</p> 
                                </div>
                              </div>
                              <div class="card" class="about-card">
                                    <img src="images/man3.png" alt="Avatar" style="width:25%">
                                   
                                    <div class="card-container">
                                      <h4><b>Mallikarjun</b></h4> 
                                      <p>Developer</p> 
                                    </div>
                                  </div> 
        </div>  
    
</body>