<body>
    <div class="row">
        <div class="card" class="booking-card" >
                <img src="images/logo.png" alt="Avatar" style="width:100%">
                <div class="card-container">
                  <h4><b>Mozingo</b></h4> 
                  <p>India Night</p> 
                </div>
              </div>
              <div class="card">
                    <img src="images/logo.png" alt="Avatar" style="width:100%">
                    <div class="card-container">
                      <h4><b>Golden Gate</b></h4> 
                      <p>Alan Walker's Music Night</p> 
                    </div>
                  </div>
                  <div class="card">
                        <img src="images/logo.png" alt="Avatar" style="width:100%">
                        <div class="card-container">
                          <h4><b>Angels Place</b></h4> 
                          <p>Ultra Music Fest</p> 
                        </div>
                      </div>
    </div>
</body>