
 <body>
<h1>Added by Ganesh</h1>
    <div id="demo" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/event1.jpg" alt="Los Angeles" width="800" height="500">
          <div class="carousel-caption">
              <h3>Set The Fire</h3>
              <p>Discover the real music!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/event2.jpg" alt="Chicago" width="800" height="500">
          <div class="carousel-caption">
              <h3>Loud & Crowd</h3>
              <p>Discover the limits of enjoyment!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="images/event3.jpg" alt="New York" width="800" height="500">
          <div class="carousel-caption">
              <h3>All About Sharing</h3>
              <p>Discover the true happiness of sharing a table!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/logo.png" alt="New York" width="800" height="500">
          </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    
    </body>

