
  <body>
  <div class="registerForm" >
        <form action="register" method="POST">
                <div class="form-group">
                        <h2 class="text-center"><ul>Register</ul></h2>
                       <br>
                                <label for="fullname">First name</label>
                                <input type="text" name="firstname" class="form-control" id="fullname" placeholder="Enter your first name" required>
                            <br>
    
                                <label for="lastname">Last name</label>
                                <input type="text" name="lastname" class="form-control" id="formGroupExampleInput2" placeholder="Enter your last name" required>
                             <br>
                             <label for="DOB">Date of birth</label>
                  <input type="date" class="form-control" name="date of birth" id="exampleFormControlInput1" required>
                             <br>
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com" required>
                <br>
                <label for="password" class="control-label">Password</label>
                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required ng-model="psw"/>
                  <br>
                  <label for="password" class="control-label">Confirm Password</label>
                  <input type="password" name="password" id="password" placeholder="Password" class="form-control" required ng-model="psw"/>
                  <br>
                  <button type="submit" name="submit" class="btn btn-primary">Register</button>
                  
                </div>
    
    
              </form>
            </div>
    </body>
  
  